@import url('https://fonts.googleapis.com/css2?family=Albert+Sans:ital,wght@0,100..900;1,100..900&family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*, *::before, *::after {
    margin: 0;
    box-sizing: border-box;
}

:root {
    --bg-color: #FEF3C7;
    --border-color: rgba(146, 64, 14, 0.2);

    --text-color: #92400E;

    --button-bg: #92400E;
    --bg-hover: #B45309;
}

html {
    -moz-text-size-adjust: none;
    -webkit-text-size-adjust: none;
    text-size-adjust: none;
}

p {
    font-family: "Barlow", Arial, Helvetica, sans-serif;
}


body {
    line-height: 1.5;
    font-family: "Albert Sans", Arial, sans-serif;
    max-width: 800px;
    margin: 0 auto;
    padding: 1.5rem;
    background-color: var(--bg-color);
    color: var(--text-color);
}

h1 a {
    text-decoration: none;
    color: inherit;
    cursor: pointer;
    transition: opacity 0.2s;
}

h1 a:hover {
    opacity: 0.8;
}

img {
    display: block;
    max-width: 100%;
}

h1 {
    text-align: center;
    color: var(--text-color);
    margin-bottom: 15px;
}

input, button {
    font-family: inherit;
    font-size: inherit;
}

/* Container */
.search-container {
    display: flex;
    justify-content: center; 
    align-items: center;    
    gap: 10px; 
    margin-bottom: 30px;
}

/* Input Field */
input {
    padding: 10px 15px; 
    width: 60%;         
    border: 2px solid var(--border-color);
    border-radius: 4px;
    background-color: white;
    color: var(--text-color);
    font-size: 1rem;
    transition: border-color 0.2s;
}

input:focus {
    outline: none;
    border-color: var(--button-bg); 
}

/* Base Button Styles */
button {
    font-family: inherit;
    font-size: 1rem;
    padding: 10px 24px;
    border: none;
    cursor: pointer;
    border-radius: 4px;
    font-weight: 600;
    transition: all 0.2s ease;
}


/* Primary Button (Find Meals) */
#search-btn {
    background-color: var(--button-bg);
    color: var(--bg-color); 
    border: 2px solid var(--button-bg); 
}

#search-btn:hover {
    background-color: var(--bg-hover);
    border-color: var(--bg-hover);
    transform: translateY(-2px);
    box-shadow: 0 4px 8px rgba(146, 64, 14, 0.2);
}

/* Secondary Button (Reset) */
#reset-btn {
    background-color: transparent;
    color: var(--text-color);
    border: 2px solid var(--button-bg);
}

#reset-btn:hover {
    background-color: rgba(146, 64, 14, 0.1); 
    transform: translateY(-2px);
}

/* Where the list of meals will go */
#meal-list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 20px;
}

.meal-card {
    background-color: white;
    border: 1px solid rgba(0, 0, 0, 0.05);
    border-radius: 8px;
    overflow: hidden;
    box-shadow:0 4px 6px -1px rgba(146, 64, 14, 0.1), 0 2px 4px -1px rgba(146, 64, 14, 0.06);
    border: 1px solid var(--border-color);
    cursor: pointer;
    transition: 0.2s;
}

.meal-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 10px 15px -3px rgba(146, 64, 14, 0.15), 0 4px 6px -2px rgba(146, 64, 14, 0.1); 
}

.meal-card img {
    width: 100%;
    height: 150px;
    object-fit: cover;
}

.meal-card h3 {
    padding: 15px 10px;
    margin: 0;
    font-size: 1.1rem;
    text-align: center;
    color: var(--text-color);
}

/* Where the recipe instructions will appear */
#recipe-modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(66, 30, 10, 0.6);
    backdrop-filter: blur(5px);
    justify-content: center;
    align-items: center;
}

.modal-content {
    padding: 1rem;
    background-color: #fff8ea;
    border-radius: 8px;
    max-width: 600px;
    max-height: 80vh;
    overflow-y: auto;
    width: 90%;
    position: relative;
    box-shadow: 0 20px 25px -5px rgba(0, 0, 0, 0.1), 0 10px 10px -5px rgba(0, 0, 0, 0.04);
}

.close-btn {
    position: absolute;
    top: 25px;
    right: 25px;
    font-size: 2.5rem;
    color: var(--text-color);
    background-color: rgba(254, 243, 199, 0.9);
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    text-align: center;
    line-height: 40px;
    font-weight: bold;
    cursor: pointer;
    z-index: 10;
}

.close-btn:hover {
    background-color: white;
}

#recipe-details h2, h3 {
    text-align: center;
    padding: 0 20px;
}

#recipe-details h2 {
    margin-top: 15px;
    font-size: 1.8rem;
    color: var(--text-color);
}

#recipe-details h3 {
    margin-top: 5px;
    margin-bottom: 15px;
    font-size: 1rem;
    text-transform: uppercase;
    letter-spacing: 1px;
    opacity: 0.8;
}

#recipe-details p {
    line-height: 1.7;
    padding: 0 20px;
    text-align: left;
    margin-bottom: 15px;
}

#recipe-details img {
    width: 100%;
    height: 53vh;
    border-radius: 8px;
    object-fit: cover;
}

#recipe-details a {
    display: block;
    width: fit-content;
    margin: 0 auto 5px;
    padding: 10px 15px;
    background-color: var(--button-bg);
    color: #FEF3C7;
    border-radius: 50px;
    font-weight: 600;
    text-align: center;
    transition: transform 0.2s, background-color 0.2s;
    text-decoration: none;
}

#recipe-details a:hover {
    transform: scale(1.05);
    background-color: var(--bg-hover);
}

@media (max-width: 600px) {
    body {
        padding: 1rem;
    }

    .search-container {
        flex-direction: column;
        gap: 15px;
    }

    input, button {
        width: 100%;
    }

    #reset-btn {
        margin-left: 0;
    }

    #meal-list {
        grid-template-columns: 1fr;
    }
}